mixin navbar()
      nav#overlay
        // <img src="assets/close.svg" class="close-btn" id="close-menu" />
        i#close-menu.fas.fa-times.fa-3x.close-btn.icon
        ul
          li
            a#NavHome.nav-link(href='/') HOME
            span.nav-desc 
          li
            a#NavSiege.nav-link(href='/projects') PROJECTS
            span.nav-desc RENDERINGS
          //- li
          //-   a#NavVideo.nav-link(href='/tutorials') TUTORIALS
          //-   span.nav-desc A series of tutorials I have produced
          li
            a#NavPrints.nav-link(href='/about') About
            span.nav-desc ROSS A. MORRIS
          li
            a#NavPrints.nav-link(href='/contact') CONTACT
            span.nav-desc CONTACT FORM
          li#contacts
            .iconbar
              a(href='https://instagram.com/ram3dda')
                i.fab.fa-instagram.fa-lg.icons
              a(href='https://twitter.com/ram3dda')
                i.fab.fa-twitter.fa-lg.icons
              a(href='https://facebook.com/ram3dda')
                i.fab.fa-facebook.fa-lg.icons
              a(href='https://www.youtube.com/channel/UCXtKr1Zqk3baNqeM-wXa_uA  ')
                i.fab.fa-youtube.fa-lg.icons
              a(href='https://www.dropbox.com/sh/mieducoo5jen58p/AAClJuRUwT5-QyfUI6I_7S0qa?dl=0')
                i.fab.fa-dropbox.fa-lg.icons
      header#topbar
        .leftTop
          a#open-menu
            i#menu-icon.fa.fa-bars.fa-3x.menu-btn.icons(aria-hidden='true')
          a(href='/')
            img#smallLogo.logoIMG(src='assets/logo.png')
        .centerTop
           <div class="text" id="scramble"></div>
        .rightTop
          .topNav
            a(href='/') HOME
            |  - 
            a(href='/projects') PROJECTS
            //- |  - 
            //- a(href='/tutorials') TUTORIALS
            |  - 
            a(href='/about') ABOUT
            |  - 
            a(href='/contact') CONTACT
          .social
            a(href='https://instagram.com/ram3dda')
              i.fab.fa-instagram.fa-lg.icons
            a(href='https://twitter.com/ram3dda')
              i.fab.fa-twitter.fa-lg.icons
            a(href='https://facebook.com/ram3dda')
              i.fab.fa-facebook.fa-lg.icons
            a(href='https://www.youtube.com/channel/UCXtKr1Zqk3baNqeM-wXa_uA  ')
              i.fab.fa-youtube.fa-lg.icons
            a(href='https://www.dropbox.com/sh/mieducoo5jen58p/AAClJuRUwT5-QyfUI6I_7S0qa?dl=0')
              i.fab.fa-dropbox.fa-lg.icons

mixin renderProjectNav(projects)
  .pageTitle
    .projectMenu
      for project,index in projects
        .projectLink
              a(href='#'+'to'+ project.sys.id) #{project.fields.title}

mixin renderProjects(projects,width)
  for project in projects
    +renderProject(project,width)

mixin renderProject(project,width)
  .endpoint(id='to'+project.sys.id) |
  .projectTitle(id=project.fields.title)
    h1.projectName #{project.fields.title}
    br
    p.projectDesc #{project.fields.description}
    if project.fields.dropboxLink
      p.projectDesc For full resolutions renders, please visit
        a(href=project.fields.dropboxLink class="external-link")  this dropbox folder.
    
  if !project.fields.masonry
    .imgwall
      +renderImages(project.fields.images,width)
  if project.fields.masonry
    .containerGrid
      .masonry(id=project.sys.id)
        +renderMasonry(project.fields.images,width)

  
      

mixin renderImages(images,width)
   for image in images
      if image.fields.link
       a.alink(href=image.fields.link, data-sub-html='.caption')
          img.thumbnails.lazyload(data-title=image.fields.title, data-src=image.fields.photo.fields.file.url+"?w="+width)
          .caption
              h4 #{image.fields.title}
              p #{image.fields.description}
      else
       a.alink(href=image.fields.photo.fields.file.url, data-sub-html='.caption')
          img.thumbnails.lazyload(data-title=image.fields.title, data-src=image.fields.photo.fields.file.url+"?w="+width)
          .caption
              h4 #{image.fields.title}
              p #{image.fields.description}

mixin renderMasonry(images,width)
  for image in images
      if image.fields.link
        img.responsive-image(data-title=image.fields.title,href=image.fields.link, data-sub-html='.caption' src=image.fields.photo.fields.file.url+"?w="+width)
        .caption
          h4 #{image.fields.title}
            p #{image.fields.description}
      else
        img.responsive-image(data-title=image.fields.title,href=image.fields.photo.fields.file.url, data-sub-html='.caption' src=image.fields.photo.fields.file.url+"?w="+width)
        .caption
          h4 #{image.fields.title}
            p #{image.fields.description}


mixin renderTutorials(tutorials)
  .projectTitle
    h1.projectName Tutorials
    br
    p.projectDesc Tutorials I have produced will be posted here. Hover to view video title.
  .imgwall
    for tutorial in tutorials
      a.alink(href=tutorial.fields.url, data-sub-html='.caption')
        img.thumbnails.lazyload(data-title=tutorial.fields.title, data-src=tutorial.fields.thumbnail.fields.file.url)
        .caption
          h4 #{tutorial.fields.title}
          p #{tutorial.fields.description}

mixin ga(id)
    script.
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', '!{id}', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
    script(src='https://www.google-analytics.com/analytics.js')

mixin list(items)
  for item in items
    li #{item}
